<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <link rel="stylesheet" href="/style/style.css">
    <title>Apc college - pratapgarh</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo"><h1>Apc college</h1></div>
            <ul class="links">
                <li>
                    <a href="/index.html">Home</a>
                </li>
                <li>
                    <a href="about.html">About</a>
                </li>
                <li>
                    <a href="courses.html">Courses</a>
                </li>
                <li>
                    <a href="placement.html">Placement</a>
                </li>
                <li>
                    <a href="gallery.html">Gallery</a>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
            </ul>   
        </div>
    </header>
    <!-- this is navbar -->
    <div class="intro">
        <h1>WELCOME TO APC COLLEGE </h1>
    </div>
<br>
    <div class="onwer">
        <h1>Information</h1>
        <div class="row1">
            <h1>From The Director’s Desk</h1>
            <div class="col1">
                <img src="/images/Pinkesh-Jain-President-APC-College.jpg" alt="">
                <p>Dear Students,

                    Do you aspire to be at the top? Do you possess that outstanding drive to reach your goals? The extent, to which each student takes advantage of the academic and extracurricular opportunities, depends in large measure on the student’s own initiative.
                    
                    Hence, display a right attitude with sustained hard work, dedication, and endurance to achieve the heights of success and reach the goals of your life.
                    
                    Our institution provides an environment conducive to active learning and personal growth with state of art enabled infrastructure. The faculty members, equipped with top-line qualification and extensive industrial experience, provide an interdisciplinary perspective to the curriculum. Progressively, value addition through research and dynamic corporate interface ensures that our students carve a niche for themselves. We create entrepreneurs and managers, not just job seekers.
                    
                    I insist the students to develop communication skills and groom their personality which enables them to stand out with their heads up in the world outside and face with courage and confidence the challenges that confront them in their areas of learning. Students should engage themselves in concept based studies rather than mugging up the content as concept building will result in a better quality of learning and enhances student’s retention capacity. There is not a major difference between winners & losers. Winners possess a distinctive quality of taking initiative, efforts to learn new things and possessing an out of box thinking. Hence, try to learn that ‘EXTRA’ which will certainly give you an extra mileage on the road to success.
                    
                    We are delighted that many of our students are now holding privileged positions in premier organizations in the country. They are a loud testimony to the devotion, determination and diligence that have been the hall mark of APC Colleges.
                    
                    I extend a warm welcome to our students and wish them a great future after a rewarding stint of educational career at APC.
                    
                    “For every one of us that succeeds, it’s because there’s somebody there to show you the way out we are one of them.
                    <br>
                    Wish you all the best!
                    <br>
                    Pinkesh Jain
                    <br>
                    President<br>
                    (Pragati Sansthan)</p>
            </div>
            <h1>From The Principal’s Desk</h1>
            <div class="col2">
                    <img src="/images/Dr-Sanjay-Gill-Principal-APC-College-150x150.jpg" alt="">
                    <p>Dear Students,

                        “The function of Education is to teach one to think intensively and to think critically. Intelligence plus Character – that is the goal of True Education.”
                        
                        The likelihood of achieving this is strengthened by the fact that we offer an Academic Program that includes breadth and depth and can be tailored to individual needs. We encourage high academic standards and have high expectations of discipline and motivation to our students. We instill in our students a passion for learning and acquiring knowledge that they will need to make a positive contribution to the society.
                        
                        We provide various Personality Development Programs to the student that not only sharpens the intellectual faculty of the student but also inculcates ethical and aesthetic values thus moulding them to be multifaceted personality ready to shoulder responsibilities towards the family, society and the Nation. Hence academics are always complemented with cultural and literary activities in the campus.
                        
                        We create a safe and social environment that helps all our students learn and succeed. We nurture each student in order to ensure that their journey at APC College is successful and improves future prospects. Our students thus become versatile individuals with values of absolute faith, hope and love.
                        
                        In a world that rewards perseverance, resilience, leadership and communication skills, our students leave well prepared for all the challenges of life. I am proud of the significant accomplishments of our students and the results our College has achieved in being a better choice in higher education.
                        
                        Choosing where to continue your education is a major decision and I believe that APC College will be a choice you are proud of, especially if you are ambitious and determined to succeed. I would be pleased to welcome you all to the APC College Family. We would be delighted to be involved in the education of your child and to foster in her the values we seek for.
                        <br>
                        Dr. Sanjay Gill<br>
                        (Principal)
                        </p>
                </div>
    
        </div>
    </div>

    <!-- footer -->
    <section class="footer">
        <h1>About Us</h1>
        <h3>APC PG COLLEGE <br>
            एपीसी महाविद्यालय, प्रतापगढ़</h3>
        <div class="details">
            <p>APC COLLEGE <br>
                Neemuch Road,<br>
                Pratapgarh (Rajasthan) India <br>
                Phone: 01478221236, 9829747053, 8764003308 <br>
                Email: apccollege130@gmail.com
                </p>
        </div>
        <div class="icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>
        </div>
        <p>Made <i class="fa fa-send-o "></i>  By Tarun Bairagi</p>
      </section>

    


</body>
</html>