<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <link rel="stylesheet" href="/style/style.css">
    <title>Apc college - pratapgarh</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo"><h1>Apc college</h1></div>
            <ul class="links">
                <li>
                    <a href="/index.html">Home</a>
                </li>
                <li>
                    <a href="about.html">About</a>
                </li>
                <li>
                    <a href="courses.html">Courses</a>
                </li>
                <li>
                    <a href="placement.html">Placement</a>
                </li>
                <li>
                    <a href="gallery.html">Gallery</a>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
            </ul>   
        </div>
    </header>
    <!-- this is navbar -->

    <section class="Course">
        <h1>Courses</h1>
        <p>ASIA PACIFIC COLLEGE</p>

        <div class="courses">
        <h1>Undergraduate Courses</h1>
            <ul>
                <li>MANAGEMENT</li>
                <ol>B.B.A. (Bachelor of Business Administration)</ol>
            <ul>
                <ul>
                    <li>COMPUTER</li>
                    <ol>B.C.A.(Bachelor of Computer Application)</ol>
                <ul>
                    <ul>
                        <li>ACADEMIC</li>
                        <ol>B.A. (Bachelor of Arts)</ol>
                        <ol>B.Com. (Bachelor of Commerce)</ol>
                        <ol>B.Sc (Bachelor of Science)</ol>
                    <ul>
                        <ul>
                            <li>EDUCATION</li>
                            <ol>B.A. B.Ed. / B.Sc. B.Ed. (4 Year Integrated)</ol>
                        <ul>

        <h1>Post Graduate Courses</h1>
        <ul>
            <li>MASTER OF ARTS</li>
            <ol>HINDI LITERATURE</ol>
            <ol>GEOGRAPHY</ol>
            <ol>SOCIOLOGY</ol>
        <ul>
                <ul>
                    <li>MASTER OF COMMERCE</li>
                    <ol>A.B.S.T.</ol>
                    <ol>BUSINESS ADMINISTRATION</ol>
                    <ol>E.A.F.M.</ol>
                <ul>
                    <ul>
                        <li>POST GRADUATE DIPLOMA IN COMPUTER APPLICATION</li>
                        <ol>PGDCA</ol>
                    <ul>
        </div>

        <div class="row3">
            <div class="course-col">
                <img src="/course/bca.jpg" alt="library">
                <h3>B.C.A</h3>
                <p>Bachelor of Computer Application</p>
                <input class="enroll" type="button" value="Enrollment" onclick="alert('Go To College')">
            </div>
            <div class="course-col">
                <img src="/course/bba.png" alt="library">
                <h3>B.B.A</h3>
                <p>Bachelor of Business Administration</p>
                <input class="enroll" type="button" value="Enrollment" onclick="alert('Go To College')">
            </div>

            <div class="course-col">
                <img src="/course/bsc-bio.jpg" alt="library">
                <h3>B.Sc - Bio</h3>
                <p>Bachelor of Science</p>
                <input class="enroll" type="button" value="Enrollment" onclick="alert('Go To College')">
            </div>
            <div class="course-col">
                <img src="/course/rs-cit.jpg" alt="library">
                <h3>RS-CIT</h3>
                <p>Rajasthan State <br> Certificate course <br> in Information Technology</p>
                <input class="enroll" type="button" value="Enrollment" onclick="alert('Go To College')">
            </div>
            
           

            <div class="course-col">
                <img src="/course/b-com.jpg" alt="library">
                <h3>B.Com</h3>
                <p>Bachelor of Commerce</p>
                <input class="enroll" type="button" value="Enrollment" onclick="alert('Go To College')">
            </div>
            

            <div class="course-col">
                <img src="/course/mcom.jpg" alt="library">
                <h3>M.Com</h3>
                <p>Master of Commerce</p>
                <input class="enroll" type="button" value="Enrollment" onclick="alert('Go To College')">
            </div>
            <div class="course-col">
                <img src="/course/ma.jpeg" alt="library">
                <h3>M.A</h3>
                <p>Master of arts</p>
                <input class="enroll" type="button" value="Enrollment" onclick="alert('Go To College')">
            </div>
           
            <div class="course-col">
                <img src="/course/bsc-maths.jpg" alt="library">
                <h3>B.Sc - Maths</h3>
                <p>Bachelor of Science</p>
                <input class="enroll" type="button" value="Enrollment" onclick="alert('Go To College')">
            </div>

            <div class="course-col">
                <img src="/course/pgdcaa.jpg" alt="library">
                <h3>PGDCA</h3>
                <p>POST GRADUATE <br> DIPLOMA IN  COMPUTER APPLICATION</p>
                <input class="enroll" type="button" value="Enrollment" onclick="alert('Go To College')">
            </div>

            <div class="course-col">
                <img src="/course/ba.jpg" alt="library">
                <h3>B.A</h3>
                <p>Bachelor of Arts</p>
                <input class="enroll" type="button" value="Enrollment" onclick="alert('Go To College')">
            </div>

            <div class="course-col">
                <img src="/course/bsc-bed.jpg" alt="library">
                <h3>B.Sc B.Ed</h3>
                <p>4 Year Integrated</p>
                <input class="enroll" type="button" value="Enrollment" onclick="alert('Go To College')">
            </div>

            <div class="course-col">
                <img src="/course/ba-bed.jpg" alt="library">
                <h3>B.A B.Ed</h3>
                <p>4 Year Integrated</p>
                <input class="enroll" type="button" value="Enrollment" onclick="alert('Go To College')">
            </div>
        </div>
    </section>
    
 <!-- footer -->
 <section class="footer">
    <h1>About Us</h1>
    <h3>APC PG COLLEGE <br>
        एपीसी महाविद्यालय, प्रतापगढ़</h3>
    <div class="details">
        <p>APC COLLEGE <br>
            Neemuch Road,<br>
            Pratapgarh (Rajasthan) India <br>
            Phone: 01478221236, 9829747053, 8764003308 <br>
            Email: apccollege130@gmail.com
            </p>
    </div>
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
    </div>
    <p>Made <i class="fa fa-send-o "></i>  By Tarun Bairagi</p>
  </section>


</body>
</html>