<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <link rel="stylesheet" href="/style/style.css">
    <title>Apc college - pratapgarh</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo"><h1>Apc college</h1></div>
            <ul class="links">
                <li>
                    <a href="/index.html">Home</a>
                </li>
                <li>
                    <a href="about.html">About</a>
                </li>
                <li>
                    <a href="courses.html">Courses</a>
                </li>
                <li>
                    <a href="placement.html">Placement</a>
                </li>
                <li>
                    <a href="gallery.html">Gallery</a>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
            </ul>   
        </div>
    </header>
    <!-- this is navbar -->
    <div class="full-img" id="fullImgBox">
        <img src="image/1.jpg" id="fullImg" >
        <span onclick="closeFullImg()">x</span>
    </div>
    <div class="image-gallery">
        <img src="/Gallery/1.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/2.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/3.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/4.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/5.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/6.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/7.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/8.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/9.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/10.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/11.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/12.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/13.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/14.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/15.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/16.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/17.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/18.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/19.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/20.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/21.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/22.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/23.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/24.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/25.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/26.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/27.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/28.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/29.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/30.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/31.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/32.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/33.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/34.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/35.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/36.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/37.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/38.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/39.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/40.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/8.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/9.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/10.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/11.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/12.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/13.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/14.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/15.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/16.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/17.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/18.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/19.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/20.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/21.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/22.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/23.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/24.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/25.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/26.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/27.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/1.jpg" onclick="openFullImg(this.src)">
        <img src="/facility/1.jpg" onclick="openFullImg(this.src)">
        <img src="/facility/2.jpg" onclick="openFullImg(this.src)">
        <img src="/facility/3.jpg" onclick="openFullImg(this.src)">
        <img src="/facility/4.jpg" onclick="openFullImg(this.src)">
        <img src="/facility/5.jpg" onclick="openFullImg(this.src)">
        <img src="/facility/6.jpg" onclick="openFullImg(this.src)">
        <img src="/facility/7.jpg" onclick="openFullImg(this.src)">
        <img src="/facility/8.jpg" onclick="openFullImg(this.src)">
        <img src="/facility/9.jpg" onclick="openFullImg(this.src)">
        <img src="/facility/10.jpg" onclick="openFullImg(this.src)">
        <img src="/facility/11.jpg" onclick="openFullImg(this.src)">
        <img src="/facility/12.jpg" onclick="openFullImg(this.src)">
        <img src="/facility/13.jpg" onclick="openFullImg(this.src)">
        <img src="/facility/14.jpg" onclick="openFullImg(this.src)">
        <img src="/facility/15.jpg" onclick="openFullImg(this.src)">
        <img src="/facility/21.jpg" onclick="openFullImg(this.src)">
        <img src="/facility/17.jpg" onclick="openFullImg(this.src)">
        <img src="/facility/18.jpg" onclick="openFullImg(this.src)">
        <img src="/facility/19.jpg" onclick="openFullImg(this.src)">
        <img src="/facility/20.jpg" onclick="openFullImg(this.src)">
        <img src="/facility/21.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/31.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/21.jpg" onclick="openFullImg(this.src)">
        <img src="/Gallery/41.jpg" onclick="openFullImg(this.src)">
    
    </div>
    <script>
        var fullImgBox = document.getElementById("fullImgBox");
        var fullImg = document.getElementById("fullImg");

        function openFullImg(pic){
            fullImgBox.style.display = "flex";
            fullImg.src = pic;
        }
        function closeFullImg(){
            fullImgBox.style.display = "none"; 
        }
    </script>
    
    <!-- footer -->
    <section class="footer">
        <h1>About Us</h1>
        <h3>APC PG COLLEGE <br>
            एपीसी महाविद्यालय, प्रतापगढ़</h3>
        <div class="details">
            <p>APC COLLEGE <br>
                Neemuch Road,<br>
                Pratapgarh (Rajasthan) India <br>
                Phone: 01478221236, 9829747053, 8764003308 <br>
                Email: apccollege130@gmail.com
                </p>
        </div>
        <div class="icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>
        </div>
        <p>Made <i class="fa fa-send-o "></i>  By Tarun Bairagi</p>
      </section>



</body>
</html>