<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <link rel="stylesheet" href="/style/style.css">
    <title>Apc college - pratapgarh</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo"><h1>Apc college</h1></div>
            <ul class="links">
                <li>
                    <a href="/index.html">Home</a>
                </li>
                <li>
                    <a href="about.html">About</a>
                </li>
                <li>
                    <a href="courses.html">Courses</a>
                </li>
                <li>
                    <a href="placement.html">Placement</a>
                </li>
                <li>
                    <a href="gallery.html">Gallery</a>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
            </ul>   
        </div>
    </header>
    <!-- this is navbar -->
    <div class="placement">
        <h1>Placement & Career Management</h1>
        <p>

            APC College offers its students opportunities to help them find the right job, or to have a right job find them. The career management process is a cooperative effort between the students, the Career Management Center and the college community. Throughout the years in APC College, students hone their own marketability studying companies and industries, learning how to analyze their finances,their products and their markets, receiving guidance in preparing their resumes, developing good interviewing and job search techniques, gaining practical experience to interact with prospective employers through courses related summer projects. Students learn to develop a career management plan and effective self-marketing skills.
            
            The career Management centre provides guidance, and the offers additional services including the preparation and mailing of the placement brochure, the distribution of resumes to interested companies, maintenance of data on jobs, summer placement opportunities, and arrangement of companies interviews.
            </p>
            <img src="/images/apc-placement.jpg" alt="">
    </div>
    <div class="btn1">
        <a href="http://apccollegepratapgarh.com/placement/"><input type="button" value="Read More"></a>
    </div>
    
<!-- footer -->
<section class="footer">
    <h1>About Us</h1>
    <h3>APC PG COLLEGE <br>
        एपीसी महाविद्यालय, प्रतापगढ़</h3>
    <div class="details">
        <p>APC COLLEGE <br>
            Neemuch Road,<br>
            Pratapgarh (Rajasthan) India <br>
            Phone: 01478221236, 9829747053, 8764003308 <br>
            Email: apccollege130@gmail.com
            </p>
    </div>
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
    </div>
    <p>Made <i class="fa fa-send-o "></i>  By Tarun Bairagi</p>
  </section>

</body>
</html>